<mat-card>
  <mat-card-title>Trusts</mat-card-title>
  <mat-divider></mat-divider>

  <ng-container *ngIf="isOwner">
    <div style="height: 8px"></div>
    <div fxLayout fxLayoutAlign="start center">
      <mat-form-field fxFlex>
        <input #newTrusteeInput matInput placeholder="New trustee's dat url" type="text" [disabled]="persistingNewTrustee">
        <mat-hint>Should be "dat://" (without the quotes) followed by 64 characters</mat-hint>
      </mat-form-field>
      <button mat-icon-button color="accent" matTooltip="Trust" (click)="addNewTrustee(newTrusteeInput.value)" [disabled]="persistingNewTrustee">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="trustees.length > 0" style="height: 16px"></div>
    <mat-divider *ngIf="trustees.length > 0"></mat-divider>
  </ng-container>

  <div fxLayout fxLayoutAlign="start center" *ngFor="let trustee of trustees; let index = index;">
    <!-- TODO: yes, not so clean to make a navigation list like this, and possibly not accessible. But that's the
         TODO: only way I found to get the layout I wanted. If this website grows, I must change it. -->
    <mat-nav-list fxFlex>
      <mat-list-item>
        <a matLine routerLink="/profile/{{trustee.dbRow.dbRowData.datUrl.slice(6)}}">
          <ng-container *ngIf="trustee.displayNameState.kind === 'loaded'">
            <h2 *ngIf="trustee.displayNameState.displayName.length === 0" style="margin-bottom: 0; font-style: italic;">Anonymous</h2>
            <h2 *ngIf="trustee.displayNameState.displayName.length > 0" style="margin-bottom: 0">{{trustee.displayNameState.displayName}}</h2>
          </ng-container>
          <span *ngIf="trustee.displayNameState.kind === 'loading'" style="font-style: italic; font-size: larger;">Loading...</span>
          <span *ngIf="trustee.displayNameState.kind === 'errored'" style="font-style: italic; font-size: larger;">Couldn't retrieve :(</span>
        </a>
        <a matLine routerLink="/profile/{{trustee.dbRow.dbRowData.datUrl.slice(6)}}">
          <span>{{utilService.shortenedDatUrl(trustee.dbRow.dbRowData.datUrl)}}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
    <button *ngIf="isOwner" mat-icon-button color="accent" matTooltip="Untrust" (click)="removeTrustee(trustee, index)" [disabled]="trustee.removing">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div *ngIf="nextStart !== lastTotalCount" style="height: 8px"></div>
  <div fxLayout="column">
    <button *ngIf="nextStart !== lastTotalCount" mat-button color="accent" (click)="loadMoreTrustees()" [disabled]="loadingTrustees" fxLayout="row">
      <span class="mat-h2" fxFlexAlign="start">Load more trustees</span>
    </button>
  </div>
</mat-card>
