<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef> Month </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.editing"> {{row.currentData.month}} </ng-container>
        <mat-form-field *ngIf="row.editing">
          <input matInput placeholder="Month" type="month" [value]="row.currentData.month" (input)="row.currentData.month=$event.target.value">
          <mat-hint>Any month this salary was paid on.</mat-hint>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.editing"> {{row.currentData.company}} </ng-container>
        <mat-form-field *ngIf="row.editing">
          <input matInput placeholder="Company" [value]="row.currentData.company" (input)="row.currentData.company=$event.target.value">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="job">
      <mat-header-cell *matHeaderCellDef> Job </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.editing"> {{row.currentData.job}} </ng-container>
        <mat-form-field *ngIf="row.editing">
          <input matInput placeholder="Job" [value]="row.currentData.job" (input)="row.currentData.job=$event.target.value">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="netSalary">
      <mat-header-cell *matHeaderCellDef> Net salary </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.editing"> {{row.currentData.netSalary}} </ng-container>
        <mat-form-field *ngIf="row.editing">
          <input matInput placeholder="Net salary" type="number" [value]="row.currentData.netSalary" (input)="row.currentData.netSalary=$event.target.value">
          <mat-hint>Salary after taxes, ... etc.</mat-hint>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef> Currency </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.editing"> {{row.currentData.currency}} </ng-container>
        <mat-form-field *ngIf="row.editing">
          <input matInput placeholder="Currency" [value]="row.currentData.currency" (input)="row.currentData.currency=$event.target.value">
          <mat-hint>E.g., USD, EGP, ... etc.</mat-hint>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="otherInfo">
      <mat-header-cell *matHeaderCellDef> Other info </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.editing"> {{row.currentData.otherInfo}} </ng-container>
        <mat-form-field *ngIf="row.editing">
          <input matInput placeholder="Other info" [value]="row.currentData.otherInfo" (input)="row.currentData.otherInfo=$event.target.value">
          <mat-hint>Any other info you want to include.</mat-hint>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="accent" matTooltip="Add new salary" (click)="dataSource.createNew()"><mat-icon>add</mat-icon></button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.editing">
          <button mat-icon-button color="primary" matTooltip="Edit" focusable="false" (click)="row.startEdit()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Delete" focusable="false" (click)="row.delete()">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="row.editing">
          <button mat-icon-button color="primary" matTooltip="Confirm" focusable="false" (click)="row.confirmEditCreate()">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Cancel" focusable="false" (click)="row.cancelOrDelete()">
            <mat-icon>clear</mat-icon>
          </button>
        </ng-container>
      </mat-cell>
    </ng-container>
  
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
