<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar" style="position: fixed; z-index: 1;"></mat-progress-bar>
<div fxLayout="column">
  <mat-toolbar fxLayout="row wrap" fxLayoutAlign="start center" color="primary" class="mat-elevation-z6">
    <a routerLink="/" style="text-decoration: none; color: inherit;">
      <span>Transparent Salaries</span>
    </a>
    <div fxFlex="1vw"></div>
    <a mat-raised-button routerLink="{{showBuyNow ? '/buy' : '/license-key'}}">
      <span>{{showBuyNow ? 'Buy now!' : 'License key'}}</span>
    </a>
    <a mat-button routerLink="/credits">
      <span>Credits</span>
    </a>
    <div fxFlex="2vw"></div>
    <span fxFlex></span>
    <div fxFlex="2vw"></div>
    <ng-container [ngSwitch]="profileService.stateSubject.value.kind">
      <ng-container *ngSwitchCase="ProfileStateKind.ProfileNotSelected">
        <button mat-stroked-button (click)="profileService.selectProfile()">Use an existing profile</button>
        <div fxFlex="2vw"></div>
        <button mat-raised-button (click)="profileService.createProfile()">Create a new profile</button>
      </ng-container>
      <ng-container *ngSwitchCase="ProfileStateKind.ProfileSelected">
        <a routerLink="/profile/{{profileService.stateSubject.value.datArchive.url.slice(6)}}" style="text-decoration: none; color: inherit;">
          <span *ngIf="displayNameState.kind === 'loaded' && loadedCast(displayNameState).displayName.length == 0" style="font-style: italic; font-weight: bold;">Anonymous</span>
          <span *ngIf="displayNameState.kind === 'loaded' && loadedCast(displayNameState).displayName.length  > 0">{{loadedCast(displayNameState).displayName}}</span>
        </a>
        <a mat-button target="_blank" rel="noopener noreferrer" [href]="sanitizer.bypassSecurityTrustUrl('beaker://library/'+profileService.stateSubject.value.datArchive.url)">{{profileService.stateSubject.value.datArchive.url.slice(0, 12)}}..{{profileService.stateSubject.value.datArchive.url.slice(-2)}}/</a>
        <button mat-stroked-button (click)="profileService.logout()">Logout</button>
      </ng-container>
    </ng-container>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
