<ng-container [ngSwitch]="state.kind">

  <ng-container *ngSwitchCase="StateKind.ProfileNotSelected">
    No profile selected.<br/>
    <button (click)="selectProfile()">Select profile from Library</button><br/>
    OR<br/>
    <input placeholder='New profile name' [value]="newProfileName" (input)="newProfileName = $event.target.value">
    <button (click)="createProfile()">Create a new profile</button>
  </ng-container>
  <ng-container *ngSwitchCase="StateKind.ProfileSelected">
    Hello, {{state.datArchive.url}}!<br/>
    <button (click)="logout()">Logout</button>
  </ng-container>

</ng-container>
