<div fxLayout="column" fxLayoutGap="3vh">
  <h1>Hello, {{profileDatArchive.url}}!</h1>
  <app-salaries [profileDatArchive]="profileDatArchive"></app-salaries>
  <div fxLayout>
    <mat-card fxLayout="column">
      <mat-card-title>Add a salary</mat-card-title>
      <mat-card-subtitle>Make sure the salary's owner has approved!</mat-card-subtitle>
      <mat-card-content fxLayout="column">
        <div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="1vw">
          <mat-form-field>
            <input matInput placeholder="Month" type="month">
            <mat-hint>Any month this salary was paid on.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Company">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Job">
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="1vw">
          <mat-form-field>
            <input matInput placeholder="Net salary" type="number">
            <mat-hint>Salary after taxes, ... etc.</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Currency">
            <mat-hint>E.g., USD, EGP, ... etc.</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap">
          <mat-form-field fxFlexFill>
            <input matInput placeholder="Other info">
            <mat-hint>Any other info you want to include. E.g., years of experience? Other benefits? Any unusual agreements?</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Add Salary</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
