<ng-container [ngSwitch]="profileService.stateSubject.value.kind">
  <ng-container *ngSwitchCase="ProfileStateKind.ProfileNotSelected">
    <div fxLayout="column">
      <div fxFlex="5vw"></div>
      <div fxLayoutAlign="center">
        <mat-card fxLayout="column" fxLayoutAlign="start center">
          <h1 fxFlexAlign="start">Help others share their salaries anonymously.</h1>
          <h1 fxFlexAlign="start">Indicate who is trustworthy.</h1>
          <h1 fxFlexAlign="start">Be trusted by others.</h1>
          <br/>
          <h2>Join Transparent Salaries now.</h2>
          <div fxLayout="column" fxLayoutGap="2vh">
            <button mat-raised-button color="primary" (click)="profileService.createProfile()">Create a new profile</button>
            <button mat-stroked-button color="primary" (click)="profileService.selectProfile()">Use an existing profile</button>
          </div>
        </mat-card>
      </div>
      <div fxFlex="5vw"></div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="ProfileStateKind.ProfileSelected">
    <app-profile [profileDatArchive]="profileService.stateSubject.value.datArchive" [isOwner]="true"></app-profile>
  </ng-container>
</ng-container>
