<div fxLayout="column">
  <div fxFlex="3vh"></div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1 *ngIf="displayName.length == 0" style="margin-bottom: 0; font-style: italic; font-weight: bold;">Anonymous</h1>
    <h1 *ngIf="displayName.length > 0" style="margin-bottom: 0;">{{displayName}}</h1>
  </div>
  <button *ngIf="isOwner" mat-icon-button color="primary" fxFlexAlign="center"> <!-- TODO: implement this -->
    <mat-icon>edit</mat-icon>
  </button>
  <h3>(<a [href]="sanitizer.bypassSecurityTrustUrl(profileDatArchive.url)">{{profileDatArchive.url.slice(0, 12)}}..{{profileDatArchive.url.slice(-6)}}/</a>)</h3>
  <ng-container
    *ngIf="profileService.stateSubject.value.kind === ProfileStateKind.ProfileSelected && profileService.stateSubject.value.datArchive.url !== profileDatArchive.url && !alreadyAFriend">
    <div fxLayout fxLayoutAlign="center">
      <button mat-raised-button color="primary" (click)="addTrustee()" fxLayout fxLayoutAlign="center">Add Trustee</button>
    </div>
    <div fxFlex="1vh"></div>
  </ng-container>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Salaries">
      <app-salaries [profileDatArchive]="profileDatArchive" [isOwner]="isOwner"></app-salaries>
    </mat-tab>
    <mat-tab label="Trustees">
      <div fxLayout="column" fxLayoutAlign="start center">
        <a *ngFor="let trustee of trusts" routerLink="/profile/{{trustee.url.slice(6)}}">{{trustee.url}}</a>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div fxFlex="3vh"></div>
</div>
