<div fxLayout="column" class="margined">
  <div fxLayout="column" fxLayoutAlign="start center">
    <h1 class="mat-display-1" style="margin-bottom: 16px">Credits</h1>
    <h2>Director</h2>
    <h3>Hossam El-Deen</h3>
    <h2>Master-Document Designer</h2>
    <h3>Hossam El-Deen</h3>
    <h2>Master-Document Writer</h2>
    <h3>None. Never got around to writing it.</h3>
    <h2>Programmer</h2>
    <h3>Hossam El-Deen</h3>
    <h2>Producer</h2>
    <h3>Hossam El-Deen</h3>
    <h2>HTML/CSS</h2>
    <h3>Hossam El-Deen</h3>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <div fxLayout="column" fxLayoutAlign="start center">
    <div style="max-width: 70ch;">
      <div fxLayout="column" fxLayoutAlign="start center">
        <h1 class="mat-display-1" style="margin-bottom: 16px">Third-party contributions</h1>
        <p class="mat-body">
          Beside the contributions found in <a href="/3rdpartylicenses.txt">3rdpartylicenses.txt</a>, I'd like those as
          well.
        </p>
        <a href="https://honest.work/">
          <h2>Honest.work</h2>
        </a>
        <p class="mat-body" style="margin-bottom: 0">
          I took from them the idea of using an italic <span style="font-style: italic">with</span> keyword in position title.
        </p>
        <p class="mat-body">
          Didn't ask for permission as it seemed to me fair use.
        </p>
        <a href="https://www.npmjs.com/package/angular4-material-table">
          <h2>angular4-material-table</h2>
        </a>
        <p class="mat-body">
          Although I didn't wind up using it in the final version, it helped me along the way. Thank you!
        </p>
        <a href="https://www.npmjs.com/package/legally">
          <h2>legally</h2>
        </a>
        <p class="mat-body">
          A dev dependency that helped me.
        </p>
      </div>
    </div>
  </div>
</div>
