<div fxLayout="column" class="margined">
  <div fxLayout="column" fxLayoutAlign="start center">
    <h1 class="mat-display-1" style="margin-bottom: 16px">Credits</h1>
    <h2>Director</h2>
    <h3>Hossam El-Deen</h3>
    <h2>Master-Document Designer</h2>
    <h3>Hossam El-Deen</h3>
    <h2>Master-Document Writer</h2>
    <h3>None. Never got around to writing it.</h3>
    <h2>Programmer</h2>
    <h3>Hossam El-Deen</h3>
    <h2>Producer</h2>
    <h3>Hossam El-Deen</h3>
    <h2>HTML/CSS</h2>
    <h3>Hossam El-Deen</h3>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <div fxLayout="column" fxLayoutAlign="start center">
    <div style="max-width: 70ch;">
      <div fxLayout="column" fxLayoutAlign="start center">
        <h1 class="mat-display-1" style="margin-bottom: 16px">Third-party contributions</h1>
        <p class="mat-body">
          Beside the contributions found in <a href="/3rdpartylicenses.txt">3rdpartylicenses.txt</a>, these are some sources
          I'd like to thank for some design or implementation inspirations.
        </p>
        <a href="https://honest.work/">
          <h2 style="margin-bottom: 0;">Honest.work</h2>
        </a>
        <p class="mat-body" style="margin-bottom: 0">
          I took from them the idea of using an italic <span style="font-style: italic">with</span> keyword in position title.
        </p>
        <p class="mat-body">
          Didn't ask for permission as it seemed to me fair use.
        </p>
      </div>
    </div>
  </div>
</div>
