<div fxLayout="column">
  <div fxFlex="5vw"></div>
  <div fxLayoutAlign="center">
    <div style="width: 40ch">
      <mat-card fxLayout="column" fxLayoutAlign="start center">

        <!-- TODO: The default font is better for this part (i.e., by commenting Roboto font in index.html). -->
        <h1 style="font-family: unset;">Support</h1>
        <!--<h3 style="font-family: unset; margin-top: 8px; margin-bottom: 0" fxFlexAlign="start">Already bought a license?</h3>-->
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/hossameldeen/transparent-salaries/issues/new" mat-raised-button color="accent" style="margin-bottom: 16px;">Open an issue on GitHub</a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/hossameldeen/transparent-salaries/issues?utf8=%E2%9C%93&q=" mat-stroked-button color="accent" style="margin-bottom: 16px;">View all issues on GitHub</a>
        <mat-divider [inset]="true"></mat-divider>
        <div>
          <h3 style="font-family: unset; font-weight: bold; margin-top: 8px; margin-bottom: 0">GitHub</h3>
          <!--<h3 style="margin-bottom: 0"><span class="mat-body-strong">GitHub</span></h3>-->
          <p style="text-align: justify;"><a target="_blank" rel="noopener noreferrer" href="https://github.com/">GitHub</a> is a website for collaborating on software projects. <span style="font-style: italic;">Transparent Salaries</span> has a <a target="_blank" rel="noopener noreferrer" href="https://github.com/hossameldeen/transparent-salaries">page on GitHub</a>.
            On this page, you can <a target="_blank" rel="noopener noreferrer" href="https://github.com/hossameldeen/transparent-salaries/issues">view issues</a>, communicate on an existing one, or <a target="_blank" rel="noopener noreferrer" href="https://github.com/hossameldeen/transparent-salaries/issues/new">open a new one</a>.</p>
          <p style="text-align: justify;">Unfortunately, to open an issue or communicate on an existing one, you need to <a target="_blank" rel="noopener noreferrer" href="https://github.com/">create an account on GitHub</a>.</p>
          <p style="text-align: justify;">Although it's called <span style="font-style: italic;">issues</span>, <span class="mat-body-strong">feel free to use it</span> for any communication
          regarding <span style="font-style: italic;">Transparent Salaries</span>, like, for example, <span class="mat-body-strong">feature requests</span>, <span  class="mat-body-strong">questions</span>, or <span  class="mat-body-strong">any other feedback</span>.</p>
          <h3 style="font-family: unset; font-weight: bold; margin-bottom: 0">Private issues</h3>
          <p style="text-align: justify;">There's currently no way to file an issue privately; anything you write in an issue is public to everyone.</p>
          <p style="text-align: justify;">The reason for that is that I don't know of a need for filing issues privately. If you happen to face such need, please tell me by <a target="_blank" rel="noopener noreferrer" href="https://github.com/hossameldeen/transparent-salaries/issues/new">opening a public issue</a> and I'll try to create a way for filing issues privately.</p>
        </div>

      </mat-card>
    </div>
  </div>
  <div fxFlex="5vw"></div>
</div>
